* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: aqua; */
    font-family: Arial, sans-serif;
}

header {
    background-color: white;
    color: #000000;
    padding: 20px;
    height: 100px;
    display: flex;
    justify-content: space-between;
     /* Căn giữa các phần tử trong header */
    align-items: center;
    position: fixed;
    width: 100%;
    /* position: relative; */
}
.placeholder {
    height: 100px; /* Đặt chiều cao tương đương với thanh header */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    padding-right: 10px;
}
.menu{
    height: 40px;
    background-color: #00472C;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    /* align-items: center; */
    padding-top:10px ;
}

nav ul li {
    margin-left: 80px;
    
}

nav ul li a {
    text-decoration: none;
    color:  #ffffff;
}
nav ul li a:hover{
    color: #c6c6c6;
}
.search {
    margin-left: 20px;
}

.search input {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 15px;
    width: 700px;
    
}

.login {
    /* margin-left: 0px; */
    
}
.button{
    background: #F09116;
    width: 90px;
    color: #fff;
    border: none;
    padding: 8px 10px;
    margin-left: 10px;
    border-radius: 3px;
    transition: background-color 0.3s;
}
.button:hover{
    background-color: #0093ad;

}
.btn-button {
    background-color: #F09116;
    
    color: #fff;
    width: 90px;
    padding: 8px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    /* display: flex; */
    /* text-align: center; */
    border-radius: 3px;
    align-items: center; /* Căn giữa biểu tượng và văn bản trong nút */
}

.btn-button:hover {
    background-color: #0093ad;
}

/* .login-button::before {
    content: "\f090"; 
    font-family: 'Font Awesome 5 Free'; 
    margin-right: 5px;
    
} */
.banner {
    text-align: center;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.product {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    width: 23%; /* Để có 4 sản phẩm mỗi hàng, đặt width: 23%; */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.product:hover{
    cursor: pointer;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product-description {
    margin: 10px 0;
    font-weight: bold;
}

.product-price {
    color: #FF5733;
}

.add-to-cart {
    background-color: #F09116;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.add-to-cart:hover {
    background-color: #FF5733;
}
